nodered-flow.json
[{"id":"b873c443.74b6f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"63bc2936.ce1508","type":"telegram receiver","z":"b873c443.74b6f8","name":"","bot":"f1646e4d.4e5908","saveDataDir":"","x":129,"y":52,"wires":[["33eb356b.50c10a"],[]]},{"id":"b39e87ec.378528","type":"function","z":"b873c443.74b6f8","name":"","func":"var context = global.get(\"context\");\n\n// Set msg.payload to Conversation\nmsg.params = {};\nmsg.params.context = context;\n\nif(context && context !== undefined){\n    msg.params.context.nome = \"Leonardo\"; \n    msg.params.context.sentimento = msg.features.sentiment.document.label; \n}\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":136,"wires":[["6919259d.4e18a4"]]},{"id":"6919259d.4e18a4","type":"watson-conversation-v1","z":"b873c443.74b6f8","name":"Women IT","workspaceid":"af87fd17-0d3e-4921-be5b-874319050014","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":453,"y":208,"wires":[["9937990f.bf2318"]]},{"id":"e0fb118e.694a1","type":"telegram sender","z":"b873c443.74b6f8","name":"","bot":"f1646e4d.4e5908","x":720,"y":57,"wires":[[]]},{"id":"9937990f.bf2318","type":"function","z":"b873c443.74b6f8","name":"","func":"global.set(\"context\", msg.payload.context);\n\nmsg.payload = {\n    content: msg.payload.output.text[0],\n    type: \"message\",\n    chatId: global.get(\"user\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":133,"wires":[["e0fb118e.694a1"]]},{"id":"33eb356b.50c10a","type":"function","z":"b873c443.74b6f8","name":"","func":"// Save user Id\nglobal.set(\"user\", msg.payload.chatId);\n\n// Set msg.payload to NLU\nmsg.nlu_options = {language: 'pt'};\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":130,"wires":[["ffb92291.8f362"]]},{"id":"ffb92291.8f362","type":"natural-language-understanding","z":"b873c443.74b6f8","name":"NLU","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":228,"y":208,"wires":[["b39e87ec.378528"]]},{"id":"f1646e4d.4e5908","type":"telegram bot","z":"","botname":"Women IT","usernames":"","chatids":""}]